.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/ivan/config/applicationhost.config
.vs/ivan/FileContentIndex/31b773b3-268f-457e-b78e-4ef4ae878ac8.vsidx
.vs/ivan/FileContentIndex/read.lock
.vs/ivan/v17/.suo
